/*
Theme Name: First_theme
Version: 1.0.0
Description: my first wordpress theme
Author: Kadetskaya
 */

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.menu {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
    position: sticky;
    margin: 0;
    background-color: rgba(237, 230, 212, 0.3);
    box-shadow: 0 5px 5px rgba(123, 124, 129, 0.84);
    top: 0;
    z-index: 99;
}

.menu-item{
    text-decoration: none;
    display: inline-block;
    padding: 5px 50px 5px 15px;
}

a{
    text-decoration: none;
    color: #7e3813;
}

.feedback{
    display: flex;
    justify-content: center;
    background-color: #98d5f4;
    margin: auto;
    color:  #7e3813;
    font-size: 1.2em;
}

.feedback input{
    height: 25px;
    border-radius: 4px;
    border: none;
    width: 300px;
    margin-top: 5px;
}
.feedback textarea{
    border-radius: 4px;
    border: none;
    width: 300px;
    margin-top: 5px;
}
.title{
    color: #32c1ec;
    text-shadow: 1px 1px 2px black;
}
.contact{
    font-size: 1.5em;
    color: whitesmoke;
    text-shadow: 1px 1px 2px black;
}

